<nav class="navbar navbar-expand-lg bg-white shadow-sm rounded mb-4">
    <div class="container">
      <a class="navbar-brand fw-bold text-dark" href="#">CarList</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent">
        <span class="navbar-toggler-icon"></span>
      </button>
  
      <div class="collapse navbar-collapse" id="navbarContent">
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link text-dark" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-dark" href="#">Listings</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-dark" href="#">Contact</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-dark" href="#">Logout
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  