<div class="mb-3 mt-3 ms-3 me-3" style="width: 400px;">
    <div class="modal-header">
        <h5 class="modal-title" id="updatePollLabel">Edit Car</h5>
        <button type="button" class="btn-close" mat-dialog-close="onClose()" aria-label="Close"></button>
    </div>
    <mat-dialog-content>
        <div class="mb-3">
            <label>Brand id:{{car.id}}</label>
            <input type="text" class="form-control" [(ngModel)]="car.brand.bname" name="brand" id="carBrandDialog">
        </div>
        <div class="mb-3">
            <label>Brand</label>
            <input type="text" class="form-control" [(ngModel)]="car.litre" name="brand" id="carBrandDialog">
        </div>
        <div class="mb-3">
            <label>Brand</label>
            <input type="text" class="form-control" [(ngModel)]="car.price" name="brand" id="carBrandDialog">
        </div>
        <div class="mb-3">
            <label>Brand</label>
            <input type="text" class="form-control" [(ngModel)]="car.releaseDateTime" name="brand" id="carBrandDialog">
        </div>
        <div class="mb-3">
            <label>Specification</label>
            <input type="text" class="form-control" [(ngModel)]="car.specification" name="brand" id="carBrandDialog">
        </div>
    </mat-dialog-content>
    <mat-dialog-actions align="end">
        <button mat-button class="btn btn-secondary me-2" mat-dialog-close="">Close</button>
        <button mat-button class="btn btn-primary" (click)="onSave()">Save</button>    
    </mat-dialog-actions>
</div>
